@media screen and (max-width: 1200px) {
	/* .container {
		width: 960px;
	} */
}

@media screen and (max-width: 992px) {
	/* .container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: auto;
	}
	.desktop {
		display: block;
	    width: 549px;
	    margin: 72px auto 0;
	}
	.skills {
		flex-direction: column;
	}
	.skill {
		width: auto;
		margin-bottom: 30px;
	} */
}

@media screen and (max-width: 768px) {
	/* .container {
		width: 540px;
	}
	.desktop {
		width: 100%;
	}
	.input {
		width: 100%;
	}
	.btn {
		margin-left: 0;
	    margin-top: 15px;
	    width: 100%;
	} */
}

@media screen and (max-width: 576px) {
     /* body {
        width: 180%;
    }
	.container {
		width: 90%;
	} */
}