.header-h2{
   color: rgb(77, 47, 185);
   text-align: center;
   padding-top: 100px;
   font-size: 3rem;
}
.contacts {
   padding-top: 40px;
}

.p-contacts-head {
   font-size: 15px;
   line-height: 25px;
   font-weight: 400;
   color: #061e37;
   padding-top: 12px;
   padding-bottom: 40px;
}

.form-contacts {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 623px;
   margin: 0 auto;
}

.nickNameEmail {
   width: 280px;
   height: 50px;
   border: 1px solid #061e37;
   border-radius: 5px;
   font-size: 14px;
   line-height: 30px;
   font-weight: 500;
   color: #061e37;
   margin-bottom: 20px;
   padding-left: 20px;
   outline: none;
}

.message {
   width: 600px;
   height: 150px;
}

.label-wrapper {
   align-items: center;
   display: flex;
}

.choice {
   display: none;
}

input[type="checkbox"]:checked~.form-close {
   display: block;
}

input[type="checkbox"]:checked~.form-open {
   display: none;
}

.form-close {
   display: none;
}

.img-form {
   font-size: 20px;
   line-height: 1.2;
   font-weight: 400;
   color: #061e37;
   cursor: pointer;
}

.form-span {
   font-size: 15px;
   line-height: 1.2;
   font-weight: 500;
   color: #061e37;
   margin-left: 9px;
}

.submit {
   width: 130px;
   height: 50px;
   background-color: #03a9f4;
   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
   border-radius: 5px;
   font-size: 16px;
   line-height: 30px;
   font-weight: 500;
   text-transform: uppercase;
   color: #ffffff;
   cursor: pointer;
}
.submit:hover{
   background-color:#2196f3;
}